body {
    background: linear-gradient(to bottom, #cc6600 0%, #993399 100%);
}

#cards {
    background: linear-gradient(to bottom, #cc6600 0%, #993399 100%);

}

#titles {
    color: #660066;
    font-family: 'Playfair Display', serif;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  .hero  {
    background-image: radial-gradient(#993399, rgb(196, 90, 64), #cc6600);
  }

  #index {
    background-image: radial-gradient(#993399, rgb(219, 148, 81), #cc6600);

  }

  .title, .content {
    font-family: 'Playfair Display', serif;
}
  
.container {
  width: 30% !important ;
  margin-top: -100px;
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form {
  margin-bottom: 15%;

}

#me {
 float: left;
 margin-top: 10%;
}